body{
    background-color: #dd6cb428;
}
#title{
    color:#dd6cb4;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    width: 20%;
    font-size: 2em;
    text-shadow: 
   -1px -1px 0 #ffffff,  
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
     1px 1px 0 #ffffff;
}
h3{
    font-family: 'Pacifico', cursive;
    color: #9763d3;
    font-weight: bold;
}
nav{
    background-image: url("images/background.png");
    background-repeat: x;
    position: static;
}
button{
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #dd6cb4;
    background-color: #ffffff;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    color: #dd6cb4;
}
button:hover{
    background-color:#dd6cb4;
    color: #ffffff;
}
.card-img-top{
    width: 18rem;
    border-radius: 20px;
    border: 2px solid #dd6cb4;

}
.card-text{
    width: 18rem;
    border-radius: 20px;
    border: 2px solid #ffffff;
    text-align: center;
    background-color: #dd6cb4;
    color: #ffffff;
    font-weight: bold;
}
#searchButton{
    background-color: #ffffff;
    color: #9763d3;
    border: 2px solid #9763d3;
    border-radius: 15px;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2em;
}
#searchButton:hover{
    background-color: #9763d3;
    color: #ffffff;
}
.newGif{
    display: inline-block;
    margin: 10px;
}
.buttonHolder{
    margin: auto;
    text-align: center;
}
.aFavorite{
    margin: 10px;
    border: 2px solid #9763d3;
    border-radius: 15px;
}

@media screen and (max-width: 640px) {
    #topBar {
      width: 100%;
      margin: auto;
      padding: 10px;
      justify-content: center;
    }
    #title{
        justify-content: center;
    }
  }